{% extends './layouts/main.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<h1>{{ title }}</h1>
    {% for item in cart%}
        <a href='/good/one?id={{ item.item_id }}'>{{ item.item_name }}</a>[{{ item.quantity }}]
        <a href='/cart/deleteFromCart?id={{ item.item_id }}'>[ удалить ]</a>
        
        <hr>
    {% endfor %}
{% endblock %}